---
import Layout from "@layouts/Layout.astro";
---
<Layout title="Portfolio"
        name="William Scales"
        occupation="Software Engineer"
        address="Golden, CO"
        url="https://linkedin.com/in/williamscales"
        urlText="linkedin.com/in/williamscales"
        metaDescription="I am a problem solver. I am passionate about using quantitative and analytical methods to build novel products and I enjoy applying the skills I learned from physics to real world technology problems. I live for learning and understanding."
        year="2024">
    <p>Foo!</p>
</Layout>